/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ffcd00;
  --ifm-color-primary-dark: #e6b900;
  --ifm-color-primary-darker: #d9ae00;
  --ifm-color-primary-darkest: #b39000;
  --ifm-color-primary-light: #ffd21a;
  --ifm-color-primary-lighter: #ffd526;
  --ifm-color-primary-lightest: #ffdc4d;
  --ifm-background-color: #141519;
  --ifm-code-font-size: 95%;
}

[data-theme="dark"] {
  --ifm-color-primary: #ffcd00;
  --ifm-color-primary-dark: #e6b900;
  --ifm-color-primary-darker: #d9ae00;
  --ifm-color-primary-darkest: #b39000;
  --ifm-color-primary-light: #ffd21a;
  --ifm-color-primary-lighter: #ffd526;
  --ifm-color-primary-lightest: #ffdc4d;
  --ifm-background-color: #141519;
}

.hero {
  --ifm-header-background-color: #141519;
  background-color: var(--ifm-header-background-color);
  color: var(--ifm-color-primary);
}

.hero__subtitle {
  color: #e3e3e3;
}

.main-wrapper {
  --ifm-header-background-color: #141519;
  background-color: var(--ifm-header-background-color);
}

.footer.footer--dark {
  --ifm-footer-background-color: #242526;
  --ifm-footer-color: var(--ifm-footer-link-color);
  --ifm-footer-link-color: var(--ifm-color-secondary);
  --ifm-footer-title-color: var(--ifm-color-white);
  background-color: var(--ifm-footer-background-color);
  color: var(--ifm-footer-color);
}

.creedSection {
  color: #c0c0c0;
  margin: 0 auto;
  max-width: 580px;
  padding: 0 2rem 2rem 2rem;
}

.creedList {
  text-align: left;
}

.creed {
  margin-bottom: 8px;
}

@media screen and (max-width: 640px) {
  .creedSection {
    max-width: 260px;
  }
}
